<%- include('../partials/header') %>

<h2>Enter a Read Book</h2>
<form id="new-book" action="/books" method="POST">
    <label>Book Name:
        <input type="text" name="name">
    </label><br>
    <label>Author:
        <input type="text" name="author">
    </label><br>
    <label>Start Date:
        <input type="date" name="startDate">
    </label><br>
    <label>End Date:
        <input type="date" name="endDate">
    </label><br>
    <input type="submit" value="Add Book">
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>