<%- include('./partials/header') %>

  <h2>Home</h2>
  <p>Welcome! 📚</p>
  <p>Click on READ BOOKS to access the books you've read! 📖</p>
  <p>Click on ADD BOOK to add the details of a newly read book! 📕</p>

<%- include('./partials/footer') %>