<%- include('../partials/header') %>

<form id="edit-synopsis-form" method="POST" action="/synopsis/<%= synopsis._id %>?_method=PUT">
    <% if (user) { %>
        <br><br><h3>Update your synopsis</h3>
        <textarea name="synopsis"><%= synopsis.synopsis %></textarea>
        <br><br><input type="submit" value="Submit"></button>
    <% } %>
</form>
    
 <%- include('../partials/footer') %>